<h1>StaticPages#home</h1>

<!--navbar-->
<%= render 'layouts/navbar' %>
<p class="login-alerts">
    <%= render 'layouts/alerts' %>
</p>
<h1>HOME PAGE</h1>

<p class="view-book">
    <%= link_to 'View book', books_path %>
</p>